body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#grid_container{
    display: grid;
    width: 700px;
    height: 700px;
}
.grid_cell_blank{
    border: 1px dotted black;
    margin: 0px;
    padding: 0px;

}
.black_cell{
    background-color: black;
}