body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'monospace';
    background-color: rgb(206 207 205);
    margin: 0;
}
#header{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(255, 117, 25);
    border: thin solid rgb(80, 77, 77);
    
}
#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
}
#grid_container{
    display: grid;
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.24),0 17px 20px 0 rgba(0,0,0,0.19);
    border-style: ridge;
}
#menu_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 300px;
    height: auto;
}
#slide_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menu_button{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 117, 25);
    border: solid 2px rgb(37, 37, 37);
    border-radius: 50%;
}
#clear_button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#clear_button:active{
    transform: translateY(2px);
    background-color: rgba(255, 117, 25, 0.705);    
}
.grid_cell_blank{
    border: thin solid rgb(80, 77, 77);
    margin: 0px;
    padding: 0px;

}
.black_cell{
    background-color: rgb(42, 42, 42);
}
.slider{
    /* width: 350px; */
    appearance: none;
    width: 100%;
    height: 15px;
    background-color: rgb(255, 117, 25);
    border-radius: 30px;
    border: solid 2px rgb(37, 37, 37);
    
}
.slider:active{
    background-color: rgba(255, 117, 25, 0.705);    

}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 117, 25);
    border: solid 5px rgb(37, 37, 37);
    border-radius: 30px;
}
.slider::-webkit-slider-thumb:hover{
    /* background-color: rgba(255, 117, 25, 0.753); */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}